<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar bg-success container-fluid">
			<div class="container d-flex justify-content-start">
				{% if not (is_granted("ROLE_USER")) %}
					<a class="text-white m-3" href="{{ path('app_login')}}">login</a>
					<a class="text-white m-3" href="{{ path('app_register')}}">register</a>
				{% else %}
					{% if (is_granted("ROLE_ADMIN")) %}
						<a class="text-white m-3" href="{{ path('admin')}}">admin</a>
					{% endif %}
					<a class="text-white m-3" href="{{ path('profil') }}">{{ app.user }}</a>
					<a class="text-white m-3" href="{{ path('app_logout') }}">logout</a>
				{% endif %}
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
